<h1 mat-dialog-title class="--primary-heading --mat-dialog">Danger Category {{ !IsEdit ? "Entry" : "Update" }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 mb-2" *ngIf="IsEdit">
      <!-- <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="DangerCategoryID" [disabled]="true" />
        <label Asterisk>Danger CategoryID</label>
      </div> -->
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="DangerCategoryName" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Danger Category Name</label>
      </div>
    </div>

    <div class="col-12 mt-3 d-flex align-items-center --width-100">
      <input type="color" [(ngModel)]="ColorCode" class="p-2" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" /> &nbsp;
      <span class="Colorlabel">Color Code :</span>
      &nbsp; <span>{{ ColorCode }}</span>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="OrderNo" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label>Order no.</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <textarea InputField autocomplete="off" type="text" [(ngModel)]="Remarks" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit"></textarea>
        <label>Remarks</label>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end" [ngClass]="{ 'd-flex justify-content-between': IsEdit }">
  <div *ngIf="IsEdit">
    <section class="form-group example-section">
      <mat-checkbox name="IsActive" [(ngModel)]="IsActive" class="example-margin" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit">IsActive </mat-checkbox>
    </section>
  </div>
  <div>
    <button type="button" matRipple class="--btn-outlined-gray m-1" [mat-dialog-close]="false">Close</button>
    <ng-container *ngIf="_GlobalService.rightsControl.canEdit || !IsEdit">
      <button type="button" matRipple class="--btn-outlined-green m-1" (click)="Submit()">{{ !IsEdit ? "Submit" : "Update" }}</button>
    </ng-container>
  </div>
</mat-dialog-actions>
