<h1 mat-dialog-title class="--primary-heading --mat-dialog">Email Admin Master {{ !IsEdit ? "Entry" : "Update" }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 mb-2" *ngIf="IsEdit">
      <div class="--input-group">
        <input InputField Asterisk autocomplete="off" type="text" [(ngModel)]="RID" />
        <label Asterisk>RID</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="MName" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Name</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="mShortName" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Short Name</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="CommEmailID" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Common EmailID</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="EmailID" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>EmailID</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="HostName" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Host Name</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" OnlyNumbers min="0" type="number" [(ngModel)]="PortNumber" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>PortNumber</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="Password" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Password</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <mat-checkbox name="SSN" [(ngModel)]="SSN" class="example-margin" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit">SSN </mat-checkbox>
    </div>

    <div class="col-12 mb-2">
      <mat-checkbox name="IsEmailActive" [(ngModel)]="IsEmailActive" class="example-margin" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit">IsEmail Active </mat-checkbox>
    </div>
  </div>
</div>

<mat-dialog-actions align="end" [ngClass]="{ 'd-flex justify-content-between': IsEdit }">
  <div *ngIf="IsEdit">
    <section class="form-group example-section">
      <mat-checkbox name="IsActive" [(ngModel)]="IsActive" class="example-margin" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit">IsActive </mat-checkbox>
    </section>
  </div>
  <div>
    <button type="button" matRipple class="--btn-outlined-gray m-1" [mat-dialog-close]="false">Close</button>
    <ng-container *ngIf="_GlobalService.rightsControl.canEdit || !IsEdit">
      <button type="button" matRipple class="--btn-outlined-green m-1" (click)="Submit()">{{ !IsEdit ? "Submit" : "Update" }}</button>
    </ng-container>
  </div>
</mat-dialog-actions>
