<h1 mat-dialog-title class="--primary-heading --mat-dialog">RefreshTimes Master {{ !IsEdit ? "Entry" : "Update" }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 mb-2" *ngIf="IsEdit">
      <!-- <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="RID" [disabled]="true" />
        <label Asterisk>RefreshTimerID</label>
      </div> -->
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" min="0" type="number" [(ngModel)]="ChartRefreshTime" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Chart RefreshTime</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" min="0" type="number" [(ngModel)]="AlertSMSRefreshTime" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Alert SMS RefreshTime</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" min="0" type="number" [(ngModel)]="CurrentReadingRefreshTime" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Current Reading RefreshTime</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" min="0" type="number" [(ngModel)]="SirenRefreshTime" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Siren RefreshTime</label>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <div>
    <button type="button" matRipple class="--btn-outlined-gray m-1" [mat-dialog-close]="false">Close</button>
    <ng-container *ngIf="_GlobalService.rightsControl.canEdit || !IsEdit">
      <button type="button" matRipple class="--btn-outlined-green m-1" (click)="Submit()">{{ !IsEdit ? "Submit" : "Update" }}</button>
    </ng-container>
  </div>
</mat-dialog-actions>
