<div class="row m-0 p-0">
  <div class="col-12 m-4">
    <h3 class="--heading-josefin"><b>User</b></h3>
  </div>
  <hr />

  <div class="col-12 mb-3 d-flex justify-content-end">
    <div class="--input-group --width-third">
      <input InputField autocomplete="off" type="text" (keyup)="applyFilter($event)" />
      <label Asterisk>Search</label>
    </div>
  </div>

  <div class="col-12 p-3 w-100">
    <div class="mat-elevation-z8">
      <div class="--table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-paginator-sticky table table-striped">
          <ng-container [matColumnDef]="item.columnKey" *ngFor="let item of defaultTableColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.headingName }}</th>
            <td mat-cell *matCellDef="let row">
              <dynamic-mat-columns *ngIf="row" [row]="row" [item]="item"></dynamic-mat-columns>
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon class="NewBtnMatAdd" *ngIf="_GlobalService.rightsControl.canAdd" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#ListData" matTooltip="Click to add Menu Master" matTooltipClass="matTooltip" (click)="openDialog()">add </mat-icon>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-icon class="BtnMatEditGreen" *ngIf="_GlobalService.rightsControl.canView || _GlobalService.rightsControl.canEdit" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#ListData" matTooltip="Click to view or edit master" matTooltipClass="matTooltip" (click)="openDialog(row.RID)">visibility </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
