<h1 mat-dialog-title class="--primary-heading --mat-dialog">Menu Master {{ !IsEdit ? "Entry" : "Update" }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 mb-2" *ngIf="IsEdit">
      <div class="--input-group">
        <input InputField readonly autocomplete="off" type="text" [(ngModel)]="MenuID" />
        <label Asterisk>MenuID</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="ParentMenuID" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>ParentMenu</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="MenuName" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Menu Name</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="MenuCaption" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Menu Caption</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="text" [(ngModel)]="RouterPath" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>RouterPath</label>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="--input-group">
        <input InputField autocomplete="off" type="number" [(ngModel)]="iOrder" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit" />
        <label Asterisk>Order</label>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end" [ngClass]="{ 'd-flex justify-content-between': IsEdit }">
  <div *ngIf="IsEdit">
    <section class="form-group example-section">
      <mat-checkbox name="IsActive" [(ngModel)]="IsActive" class="example-margin" [disabled]="!_GlobalService.rightsControl.canEdit && IsEdit">IsActive </mat-checkbox>
    </section>
  </div>
  <div>
    <button type="button" matRipple class="--btn-outlined-gray m-1" [mat-dialog-close]="false">Close</button>
    <ng-container *ngIf="_GlobalService.rightsControl.canEdit || !IsEdit">
      <button type="button" matRipple class="--btn-outlined-green m-1" (click)="Submit()">{{ !IsEdit ? "Submit" : "Update" }}</button>
    </ng-container>
  </div>
</mat-dialog-actions>
